  <%= render 'header' %>
  
  <!-- Page Content -->
  <div class="container">

    <div class="row">
      <div class="col-md-12 mb-5">
        <h2>Quem somos?</h2>
        <hr>
        <p>Somos uma plataforma de cadastro e busca de emprego, estamos trabalhando para que sempre tenhamos as melhores empresas que queiram candidatos capacitados e preparados para todo tipo de desafio.</p>
        <p>Não estamos interessado em quantidade e sim em qualidade no mercado, precisamos melhorar o que temos em nossa capital e o <b>Trampos de belém</b> veio para fazer esse <i>trampo</i> pesado .</p>
        <p>Queremos ser o mais direto possível e sem muita enrolação. <b>Anuncie</b> e <b>Busque vagas</b> Conosco!</p>
      </div>
      <!--<div class="col-md-4 mb-5">
        <h2>Contact Us</h2>
        <hr>
        <address>
          <strong>Start Bootstrap</strong>
          <br>3481 Melrose Place
          <br>Beverly Hills, CA 90210
          <br>
        </address>
        <address>
          <abbr title="Phone">P:</abbr>
          (123) 456-7890
          <br>
          <abbr title="Email">E:</abbr>
          <a href="mailto:#">name@example.com</a>
        </address>
      </div>
    </div>-->
    <!-- /.row -->


  </div> 
