  <%= render 'header' %>
  
  <!-- Page Content -->
  <div class="container">
    <div class="row">
      <div class="col-md-12 mb-5">
        <h2><%= t('who_we_are.h2') %></h2>
        <hr>
        <%= @text_parag.html_safe %>
      </div>
    <!-- /.row -->
  </div> 
